<div class="about fill-screen">
    <section class="row title-row" id="about-us">
        <div>
                <div class="row ab-div">
                    <div class="col-sm-8 col-sm-offset-2">
                    <h2 ><strong>Who we are<br></strong></h2> <br>
                        <p class=".ab">Welcome to The Charge TV, your favorite stop for all things inspirational, motivational, thought-provoking and
                            spiritual in form  of videos. We're dedicated to giving you the very best of content with a focus on spiritual
                            growth, self-discovery, reflection and purpose among others. <br>
                            The idea was birthed after a life changing experience under the ministration of an annointed man of God. The videos
                             are especially curated to minister to everyone. We are happy to have you on this rollercoster ride with us.
                            We hope you get motivated as we are by engaging with our high-quality video content. If you have any questions or
                            comments, please don't hesitate to contact us.</p>
                        <br>
                        <p><strong>The Charge Tv</strong></p>
                    </div>
                </div>
        </div>
    </section>
</div>
