<div class="container-fluid activity">
    <section class="row title-row">
        <div class="col-md-4 wow zoomIn">
            <img src="./assets/img/map.png" />
            <h2 class="h2">Interviews</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="col-md-4 wow zoomIn">
            <img src="./assets/img/pic.png" />
            <h2 class="h2">Talk Shows</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
        </div>
        <div class="col-md-4 wow zoomIn">
            <img src="./assets/img/backpack.png" />
            <h2 class="h2">Live Shows</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
        </div>
        <hr/>
    </section>
</div>
